@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cloud-download, .icon-arrow-right, .icon-arrow-left, .icon-google-plus, .icon-facebook, .icon-twitter, .icon-feed, .icon-pinterest, .icon-html5, .icon-css3, .icon-wordpress, .icon-menu, .icon-share, .icon-attachment, .icon-link, .icon-folder, .icon-download, .icon-untitled, .icon-paypal {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cloud-download:before {
	content: "\e000";
}
.icon-arrow-right:before {
	content: "\e001";
}
.icon-arrow-left:before {
	content: "\e002";
}
.icon-google-plus:before {
	content: "\e003";
}
.icon-facebook:before {
	content: "\e004";
}
.icon-twitter:before {
	content: "\e005";
}
.icon-feed:before {
	content: "\e006";
}
.icon-pinterest:before {
	content: "\e007";
}
.icon-html5:before {
	content: "\e008";
}
.icon-css3:before {
	content: "\e009";
}
.icon-wordpress:before {
	content: "\e00a";
}
.icon-menu:before {
	content: "\e00b";
}
.icon-share:before {
	content: "\e00c";
}
.icon-attachment:before {
	content: "\e00d";
}
.icon-link:before {
	content: "\e00e";
}
.icon-folder:before {
	content: "\e00f";
}
.icon-download:before {
	content: "\e010";
}
.icon-untitled:before {
	content: "\f000";
}
.icon-paypal:before {
	content: "\e011";
}
